<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74463764856-frvqo6nhiorofktc69hj9g1floj1j4o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74463764856-frvqo6nhiorofktc69hj9g1floj1j4o4</string>
	<key>API_KEY</key>
	<string>AIzaSyA99NUOT26mozejLdMhcGXMM1xAGeeI-gY</string>
	<key>GCM_SENDER_ID</key>
	<string>74463764856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectofinal</string>
	<key>PROJECT_ID</key>
	<string>proyectomon-32340</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectomon-32340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74463764856:ios:0bbf22310d0872e246688d</string>
</dict>
</plist>